[submodule "learning"]
	path = learning
	url = https://github.com/smongiar/learning/
	branch = master
[submodule "DO101-apps"]
	path = DO101-apps
	url = https://github.com/smongiar/learning.git
	branch = master
